@model IEnumerable<MetaLolBuild.UI.Models.Champion.ChampionModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="pricing_part padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_tittle text-center">
                    <h2>@Ress.SharedStrings.Champions</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            @foreach (var item in Model) {
                <div class="col-lg-3 col-sm-6" style="margin-bottom:30px;   background-color: transparent;">
                    <div class="single_pricing_part" style="background-image:url(@item.Image.ImageURL); background-size: auto;   background-color: transparent; ">
                        <a href="Champion/Detail/@item.Id" class="btn_2" style="margin-top:100px">@item.Id</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>