
@{
    ViewBag.Title = "Error";
}

<section class="pricing_part padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_tittle text-center">
                    <h2>@Ress.SharedStrings.Error  </h2>
                    <h4>@Ress.SharedStrings.ErrorString</h4>
                    <img src="~/Content/img/errorPageIcon.png"/>
                </div>
            </div>
        </div>
    </div>
</section>
