
@{
    ViewBag.Title = "Index";
}


<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <a href="@Url.Action("", "Home")" title="@Ress.SharedStrings.Home">@Ress.SharedStrings.Home</a>
                        <h2>@Ress.SharedStrings.Home</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->